### textwrap
- 문자열 길이 줄임

## textwrap.wrap()
- 긴 문장 줄바꿈하기

In [7]:
#textwrap: 문자열 줄이기
import textwrap
text = "태정태세 문단세 여성연중 인명선 광인효현 숙경영 정순헌철 고순"
textwrap.shorten(text, width=10)

'태정태세 [...]'

In [8]:
textwrap.shorten(text, width=10, placeholder='...')

'태정태세...'

In [1]:
# textwrap.wrap

long_text = "life is too long!"*10
print(long_text)

life is too long!life is too long!life is too long!life is too long!life is too long!life is too long!life is too long!life is too long!life is too long!life is too long!

In [3]:
import textwrap

result = textwrap.wrap(long_text, width=70) #긴 문자열을 witdth 길이만큼 자르고 리스트로 반환. 자르는 기준은 단어단위이므로 단어 중간이 끊기지 않음
result

['life is too long!life is too long!life is too long!life is too',
 'long!life is too long!life is too long!life is too long!life is too',
 'long!life is too long!life is too long!']

In [4]:
print('\n'.join(result)) # 자른 거 합치기

life is too long!life is too long!life is too long!life is too
long!life is too long!life is too long!life is too long!life is too
long!life is too long!life is too long!

In [8]:
# wrap + '\n'.join
result = textwrap.fill(long_text, width=70) #한 줄 길이가 width를 넘지 않음
result

'life is too long!life is too long!life is too long!life is too\nlong!life is too long!life is too long!life is too long!life is too\nlong!life is too long!life is too long!'

## 정규표현식 re

In [3]:
data = "홍길동의 주민등록번호는 920394-2837463 입니다. 그리고 고길동의 주민번호는 636462-3847362 입니다. 누가 형님일까요?"

result = []

for i in data.split("\n"):
    word_result = []
    for word in i.split(" "):
        if len(word)==14 and word[:6].isdigit() and word[7:].isdigit():
            word = word[:6] + "-*******"
        word_result.append(word)
    result.append(" ".join(word_result))
print('\n'.join(result))

홍길동의 주민등록번호는 920394-******* 입니다. 그리고 고길동의 주민번호는 636462-******* 입니다. 누가 형님일까요?

In [7]:
# re 모듈 사용하여 마스킹
import re

data = "홍길동의 주민등록번호는 920394-2837463입니다. 그리고 고길동의 주민번호는 636462-3847362 입니다. 누가 형님일까요?"

pat = re.compile("(\d{6})[-]\d{7}") #정규표현식 객체 pat 생성
print(pat.sub("\g<1>-*******", data)) # \g<1> : 정규표현식 pat과 일치하는 문자열 중 첫번째 그룹. 즉 주민번호 앞부분

홍길동의 주민등록번호는 920394-*******입니다. 그리고 고길동의 주민번호는 636462-******* 입니다. 누가 형님일까요?

## C로 만든 데이터 다루기: struct
- c언어로 만든 구조체 이진 데이터를 처리할 때 활용하는 모듈
- c 구조체로 만들어진 파일을 읽거나, 네트워크로 전달되는 c 구조체 이진 데이터를 파이썬에서 처리할 때 사용

'''
typedf struct {
    double v;
    int t;
    char c;
} save_type;

int main(){
    save_type s = {7.5f, 15, 'A'};
    FILE *f = fopen('output', 'w);
    fwrite(&s, sizeof(save_type), 1, f);
    fclose(f);
    return 0
}

'''

In [1]:
# 구조체 데이터 output를 struct를 이용해 읽어보자

import struct
with open('output', 'rb') as f:
    chunk = f.read(16)
    result = struct.unpack('diccc', chunk) #double 1개, int 1개, char 3ro
    print(result)

FileNotFoundError: [Errno 2] No such file or directory: 'output'

## datetime.date
- 년, 월, 일로 날짜를 표현할 때 사용하는 모듈

In [2]:
import datetime

day1 = datetime.date(2019, 12, 14)
print(day1)

2019-12-14

In [4]:
day2 = datetime.date(2021, 6, 5)
day2

datetime.date(2021, 6, 5)

In [6]:
diff = day2 - day1
diff

datetime.timedelta(days=539)

In [7]:
diff.days

539

In [8]:
import datetime

day = datetime.date(2019, 12, 14)
day.weekday()

5

In [9]:
day.isoweekday()

6

In [1]:
# datetime.timedelta(): 두 날짜의 차이 계산
import datetime
today = datetime.date.today() #오늘 날짜 반환
today

datetime.date(2023, 3, 5)

In [2]:
diff_days = datetime.timedelta(days=100)
diff_days

datetime.timedelta(days=100)

In [3]:
today + diff_days

datetime.date(2023, 6, 13)

In [4]:
today - diff_days

datetime.date(2022, 11, 25)

## calendar.isleep()
인수로 입력한 연도가 윤년인지 확인

In [1]:
#구현
def is_leap_year(year):
    if year%4 == 0:
        return True
    if year%100 == 0:
        return False
    if year%400 == 0:
        return True
    return False

In [3]:
# 이미 함수 있음
import calendar
calendar.isleap(2022)

False

## collections.deque()
- deque
    - 앞뒤로 데이터 처리가 가능한 양방향 자료형
    - 리스트보다 fast
- deque 자료형을 생성하는 모듈

In [4]:
# 시계 방향으로 회전하는 다이얼 a=[1,2,3,4,5]가 있다고 할 때 
# 이 다이얼을 2칸 돌려 눈금이 4가 되도록 하라

from collections import deque
a = [1,2,3,4,5]
q = deque(a)
q.rotate(2) # 시계방향으로 2칸
print(list(q))

[4, 5, 1, 2, 3]

In [5]:
# deque의 함수들
from collections import deque
d = deque([1,2,3,4,5])
d.append(6)
print('append:',d)

d.appendleft(7)
print('appendleft:',d)

print('pop:',d.pop())

append: deque([1, 2, 3, 4, 5, 6])
appendleft: deque([7, 1, 2, 3, 4, 5, 6])
pop: 6

## collections.namedtuple

- namedtuple: 튜플과는 다르게 인덱스 뿐만 아니라 key로도 데이터에 접근가능한 자료형

In [4]:
data = [
    ('홍길동', 23, '110294234234'),
    ('홍서이', 34, '23234823492'),
    ('홍당무', 23, '2349234342837')
]

In [5]:
emp = data[0]
print(emp)

('홍길동', 23, '110294234234')

In [8]:
# name이 employee이고 name, age, cell 속성을 가진 namedtuple 생성
from collections import namedtuple

employee = namedtuple('employee', 'name, age, cell')

In [10]:
data = [employee(emp[0], emp[1], emp[2]) for emp in data]
data

[employee(name='홍길동', age=23, cell='110294234234'),
 employee(name='홍서이', age=34, cell='23234823492'),
 employee(name='홍당무', age=23, cell='2349234342837')]

In [11]:
# _make() 사용해 쉽게 변환
data = [employee._make(emp) for emp in data]
data

[employee(name='홍길동', age=23, cell='110294234234'),
 employee(name='홍서이', age=34, cell='23234823492'),
 employee(name='홍당무', age=23, cell='2349234342837')]

In [14]:
# 'name'으로 접근 가능
emp = data[0]
emp.name

'홍길동'

In [15]:
# namedtuple은 dictionary로 변환 가능
emp._asdict()

{'name': '홍길동', 'age': 23, 'cell': '110294234234'}

In [16]:
# 인덱스로 접근 가능
emp[2]

'110294234234'

In [18]:
# 튜플이므로 삭제 불가. _replace를 이용해 새 객체 생성 후 반환은 가능
new_emp = emp._replace(name='박길동')
new_emp

employee(name='박길동', age=23, cell='110294234234')

## collections.Counter
- 리스트, 문자열에서 값이 같은 요소가 몇개인지 확인

In [1]:
data = """

산에는 꽃 피네

꽃이 피네.

갈 봄 여름 없이

꽃이 피네.

산에

산에

피는 꽃은

저만치 혼자서 피어 있네.


산에서 우는 작은 새여.

꽃이 좋아

산에서

사노라네.


산에는 꽃 지네

꽃이 지네.

갈 봄 여름 없이

꽃이 지네.

"""

In [2]:
#위 시에서 가장 많이 사용된 단어와 사용된 횟수를 알아보자

from collections import Counter
import re

words = re.findall(f'\w+',data) #문장을 단어별(\w+)로 나눔. 리스트로 반환
counter = Counter(words)
print(counter.most_common(1))

[('꽃이', 5)]

In [3]:
print(counter)

Counter({'꽃이': 5, '피네': 3, '지네': 3, '산에는': 2, '꽃': 2, '갈': 2, '봄': 2, '여름': 2, '없이': 2, '산에': 2, '산에서': 2, '피는': 1, '꽃은': 1, '저만치': 1, '혼자서': 1, '피어': 1, '있네': 1, '우는': 1, '작은': 1, '새여': 1, '좋아': 1, '사노라네': 1})