In [ ]:
#4.1
lst = [1,2,3,4,1,2,3,1,4,1,2,3]

unique_value = lst.unique()

print(type(unique_value))